/* Estilos para las burbujas */
@keyframes moveBubbles {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-50px) scale(1.1);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
  
  .bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    animation: moveBubbles 6s ease-in-out infinite;
    opacity: 0.5;
  }
  
  .bubble-1 {
    width: 100px;
    height: 100px;
    left: 10%;
    animation-delay: 0s;
  }
  
  .bubble-2 {
    width: 150px;
    height: 150px;
    left: 30%;
    animation-delay: 2s;
  }
  
  .bubble-3 {
    width: 80px;
    height: 80px;
    left: 60%;
    animation-delay: 4s;
  }
  
  .bubble-4 {
    width: 120px;
    height: 120px;
    left: 80%;
    animation-delay: 1s;
  }
  